<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <br>
        <br>
        <div class="row">
        <div class="col-md-3">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/8110807/2018/12/10/03321a24-58e1-4112-a40b-87404835f39a1544448364884-Green-34th-sleeve-cotton-Assymetric-kurta-with-black-printed-1.jpg"></div>
                <figcaption class="info-wrap">
                        <h4 class="title">Printed kurta</h4>
                        <p class="desc">Black and green printed kurta with trousers
                            Black and green straight calf length kurta, has a round neck, three-quarter sleeves, straight hem, side slits
                            Black and green Printed trousers, has partially elasticated waistband, slip-on closure
                        <br>
                        <strong>Size & Fit</strong><br>
                        The model (height 5'8'') is wearing a size S
                        <br>
                       <strong>Material & Care</strong> <br>
                        Viscose Rayon<br>
                        Dry-clean</p>
                        <div class="rating-wrap">
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap" >
                    <button type="button" name="btnSave" class="btn btn-primary"
                    (click)="save()">Add to Cart</button>	
                    <div class="price-wrap h5">
        
                        <span class="price-new">1280/-</span> <del class="price-old">1980/-</del>
                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
        <div class="col-md-3">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ912LTWYnYjc8NjAlQPsrvj_FdDfhn2quAukKFiIDSZquxiBf1xw82OogrzeQt81s8PolAfv6PEvZz33Z7cI_F5evzon6GHwT0IhjWdqZn1oR8py4RGwL7&usqp=CAE"> </div>
                <figcaption class="info-wrap">
                        <h4 class="title">Men Checkered Casual Slim Shirt</h4>
                        <p class="desc">Navy Blue and beige checked casual shirt, has a spread collar, button placket, 2 pockets, long sleeves, curved hem
                            <br><strong> Size & Fit</strong>
                           <br>
                            Regular Fit<br>
                            The model (height 6') is wearing a size 40<br>
                            <strong>Material & Care</strong>
                            <br>
                            Cotton<br>
                            Machine-wash</p>
                        <div class="rating-wrap">
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap" >
                    <button type="button" name="btnSave" class="btn btn-primary"
                    (click)="save()">Add to Cart</button>	
                        <div class="price-wrap h5">
                            <span class="price-new">1180/-</span> <del class="price-old">1580/-</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div>
        <div class="col-md-3">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSXt2JBUmRKd5a2uvT-9JuVJFYet6v9jXdc3U-dSny0sjEoINYo"> </div>
                <figcaption class="info-wrap">
                        <h4 class="title">Striped Basic Jumpsuit</h4>
                        <p class="desc">Black and White striped basic jumpsuit, has a V-neck, sleeveless
                            Comes with a fabric belt<br>
                            <strong>Size & Fit</strong><br>
                            The model (height 5'8'') is wearing a size S
                            <br>
                           <strong>Material & Care</strong> <br>
                            Viscose Rayon<br>
                            Dry-clean</p>
                        <div class="rating-wrap">
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap">
                    <button type="button" name="btnSave" class="btn btn-primary"
                    (click)="save()">Add to Cart</button>
                        <div class="price-wrap h5">
                            <span class="price-new">1280/-</span> <del class="price-old">1780/-</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
        <div class="col-md-3">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTHSdd_vdoyFTxYuIkq0V7funraN5olI4_T4sdlhEoG5QUggcHv7ykB1pZ42oyLlYomOJxCs0BMaU5sqk2-HjjvCGpV4Pa7euQ--y3SWf7opaVDKjFJNBt4&usqp=CAE"> </div>
                <figcaption class="info-wrap">
                        <h4 class="title">Men Mustard Yellow Regular Fit Solid Casual Shirt</h4>
                        <p class="desc">Mustard yellow solid casual shirt, has a spread collar, long sleeves, curved hem, two patch pockets
                            <br>
                            <strong>Size & Fit</strong><br>
                            Regular Fit<br>
                            The model (height 6') is wearing a size 40<br>
                            <strong> Material & Care</strong>
                           <br>
                            Cotton<br>
                            Machine-wash</p>
                        <div class="rating-wrap">
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap">
                    <button type="button" name="btnSave" class="btn btn-primary"
                    (click)="save()">Add to Cart</button>
                        <div class="price-wrap h5">
                            <span class="price-new">1780/-</span> <del class="price-old">2180/-</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div>
        
        <div class="col-md-3">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS2ZS8a6htlKwtIbtnu7D4xlyzfbO5ixO630pStboCe9bRVjH4X"></div>
                <figcaption class="info-wrap">
                        <h4 class="title">Silver Blazer For Men</h4>
                        <p class="desc">Grey self-design single-breasted blazer, has a notched lapel, double button closure, long sleeves, a double-vented back hem three pockets, and an attached lining
                            Pocket Square color may vary from what is shown in the picture<br>
                            <strong>Size & Fit</strong>
                            <br>
                            The model (height 6') is wearing a size 40
                            <br><strong>Material & Care</strong>
                            <br>
                            40% polyester and 60% viscose<br>
                            Dry-clean only</p>
                        <div class="rating-wrap">
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap" >
                    <button type="button" name="btnSave" class="btn btn-primary"
                    (click)="save()">Add to Cart</button>
                        <div class="price-wrap h5">
                            <span class="price-new">1280/-</span> <del class="price-old">1980/-</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div>
        <div class="col-md-3">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSB9qGMtdQmq7twLhcqgPfYsjyQVsfJeiMppC8Uawh-koYjlQI9Jh5w1rB0O921pRwI4lRlQbDk3oHYR_ZmAsCrMi8GV4zl82YHlTPLymvvvtkj4McRcKVCqg&usqp=CAE"></div>
                <figcaption class="info-wrap">
                        <h4 class="title">Women Black Solid Top</h4>
                        <p class="desc">Black solid knitted regular top, has a boat neck, sleeveless
                            <br>
                            <strong>Size & Fit</strong><br>
                            The model (height 5'8") is wearing a size S<br>
        
                            <strong>Material & Care</strong><br>
                            Polyester<br>
                            Machine-wash</p>
                        <div class="rating-wrap">
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap">
                    <button type="button" name="btnSave" class="btn btn-primary"
                    (click)="save()">Add to Cart</button>	
                        <div class="price-wrap h5">
                            <span class="price-new">1380/-</span> <del class="price-old">2080/-</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
        <div class="col-md-3">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSvCgrj33Skg1x4cXg5U9Aa5_uhz8GSjBXvUmQIgCIemTUV9EBILzxQNM3IXDRBnS4jThcQb-UHB5kfBwqrv2P91icLt98t9A&usqp=CAE"/> </div>
                <figcaption class="info-wrap">
                        <h4 class="title">Women Burgundy Solid Maxi Dress</h4>
                        <p class="desc">Burgundy and beige solid woven maxi dress with attached jacket, has a mandarin collar, three-quarter sleeves, an attached lining, flared hem
                            <br>
                            <strong>Size & Fit</strong><br>
                            Semi-Fit<br>
                            The model (height 5'8") is wearing a size S<br>
                            <strong> Material & Care</strong>
                           <br>
                            Polyester<br>
                            Hand-wash</p>
                        <div class="rating-wrap">
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap">
                    <button type="button" name="btnSave" class="btn btn-primary"
                    (click)="save()">Add to Cart</button>
                        <div class="price-wrap h5">
                            <span class="price-new">980/-</span> <del class="price-old">1180/-</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div>
        <div class="col-md-3">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/5527492/2018/5/7/11525683977921-Navy-Blue--Green-Embroidered-yoke-cape-design-Maxi-2971525683977801-1.jpg"></div>
                <figcaption class="info-wrap">
                        <h4 class="title">Women Navy Blue & Green Layered Maxi Dress</h4>
                        <p class="desc">Navy blue and green solid woven maxi dress, has a round neck, short sleeves, button closure, flared hem
                            <br><strong> Size & Fit</strong>
                           <br>
                            Semi-Fit<br>
                            The model (height 5'8") is wearing a size S
                            <br><strong>Material & Care</strong>
                            <br>
                            Viscose Rayon<br>
                            Dry-clean</p>
                        <div class="rating-wrap">
                            <div class="label-rating">132 reviews</div>
                            <div class="label-rating">154 orders </div>
                        </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap" >
                    <button type="button" name="btnSave" class="btn btn-primary"
                    (click)="save()">Add to Cart</button>	
                        <div class="price-wrap h5">
                            <span class="price-new">1180/-</span> <del class="price-old">1280/-</del>
                        </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div>
        
        </div> <!-- row.// -->
        
        
        
        </div> 
        <!--container.//-->
        
        <br><br><br>
        <article class="bg-secondary mb-2">  
        <div class="card-body text-center">
            <h4 class="text-white">E-Mart <br> Ready to shop in E-Mart </h4>
        <p><a class="btn btn-warning" target="_blank" href="#">emart.com  
         <i class="fa fa-window-restore "></i></a></p>
        </div>
        <br><br><br>
        </article>
</body>
</html>

