<body>
    <div class="container-fluid">
    <br>
    <br>
    <div class="row">
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="assets\model_6.png"></div>
            <figcaption class="info-wrap">
                    <h4 class="title">Printed kurta</h4>
                    <p class="desc">Black and green printed kurta with trousers
                        Black and green straight calf length kurta, has a round neck, three-quarter sleeves, straight hem, side slits
                        Black and green Printed trousers, has partially elasticated waistband, slip-on closure
                    <br>
                    <strong>Size & Fit</strong><br>
                    The model (height 5'8'') is wearing a size S
                    <br>
                   <strong>Material & Care</strong> <br>
                    Viscose Rayon<br>
                    Dry-clean</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap" >
                <button type="button" name="btnSave" class="btn btn-primary"
                (click)="save()">Add to Cart</button>	
                
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div> <!-- col // -->
    
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="assets\model_6.png"> </div>
            <figcaption class="info-wrap">
                    <h4 class="title">Striped Basic Jumpsuit</h4>
                    <p class="desc">Black and White striped basic jumpsuit, has a V-neck, sleeveless
                        Comes with a fabric belt<br>
                        <strong>Size & Fit</strong><br>
                        The model (height 5'8'') is wearing a size S
                        <br>
                       <strong>Material & Care</strong> <br>
                        Viscose Rayon<br>
                        Dry-clean</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap">
                <button type="button" name="btnSave" class="btn btn-primary"
                (click)="save()">Add to Cart</button>
                    <div class="price-wrap h5">
                        <span class="price-new">1280/-</span> <del class="price-old">1780/-</del>
                    </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div> <!-- col // -->
    
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="assets\model_6.png"></div>
            <figcaption class="info-wrap">
                    <h4 class="title">Women Navy Blue & Green Layered Maxi Dress</h4>
                    <p class="desc">Navy blue and green solid woven maxi dress, has a round neck, short sleeves, button closure, flared hem
                        <br><strong> Size & Fit</strong>
                       <br>
                        Semi-Fit<br>
                        The model (height 5'8") is wearing a size S
                        <br><strong>Material & Care</strong>
                        <br>
                        Viscose Rayon<br>
                        Dry-clean</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap" >
                <button type="button" name="btnSave" class="btn btn-primary"
                (click)="save()">Add to Cart</button>	
                    <div class="price-wrap h5">
                        <span class="price-new">1180/-</span> <del class="price-old">1280/-</del>
                    </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div>
    
    
    
    
    
    </div> <!-- row.// -->
    
    
    
    </div> 
    <!--container.//-->
    
    
    </body>
