<h2>Add Products To Be Sold</h2>
<div class="container">
    <form action="/action_page.php">

      <div class="row">
        <div class="col-25">
            <label for="category">CATEGORY</label>
        </div>
        <div class="col-75">
            <select id="category" name="country">
                <option value="elc">1--Electronics</option>
                <option value="fs">2--Fashion</option>
                <option value="sps">3--Sports</option>
                
            </select>
        </div>
    </div>

    <div class="row">
      <div class="col-25">
          <label for="SBID">SubCategory Name</label>
      </div>
      <div class="col-75">
          <input type="text" id="SBID" name="SubCategory" [(ngModel)]="item.Subcategory.subCategoryName" placeholder="Enter Subcategory id">
      </div>
  </div>

  <div class="row">
    <div class="col-25">
        <label for="SBID">Seller Name</label>
    </div>
    <div class="col-75">
        <input type="text" id="SBID" name="SubCategory" placeholder="Enter Subcategory id">
    </div>
</div>

<div class="row">
  <div class="col-25">
      <label for="PID">Discount id</label>
  </div>
  <div class="col-75">
      <input type="text" id="PID" name="product id" placeholder="Enter Product id">
  </div>
</div>

<div class="row">
  <div class="col-25">
      <label for="PID">Start Date</label>
  </div>
  <div class="col-75">
      <input type="date" id="PID" name="product id" placeholder="Enter Product id">
  </div>
</div>
<div class="row">
  <div class="col-25">
      <label for="PID">End Date</label>
  </div>
  <div class="col-75">
      <input type="date" id="PID" name="product id" placeholder="Enter Product id">
  </div>
</div>

        <div class="row">
            <div class="col-25">
                <label for="PNM">Item Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="PNM" name="firstname" placeholder="Enter Product name">
            </div>
        </div>
        <div class="row">
          <div class="col-25">
              <label for="PDESC"> ITEM DESCRIPTION</label>
          </div>
          <div class="col-75">
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          </div>
      </div>
        

        

        


        

        <div class="row">
            <div class="col-25">
                <label for="PRICE">Price</label>
            </div>
            <div class="col-75">
                <input type="text" id="PRICE" name="Price" placeholder="Enter price of the product">
            </div>
        </div>
        <div class="row">
          <div class="col-25">
              <label for="STOCK">Quantity</label>
          </div>
          <div class="col-75">
              <input type="text" id="STOCK" name="Discount" placeholder="Enter stock">
          </div>
      </div>


        
        
        <div class="row">
            <div class="col-25">
                <label for="lname">Product Image</label>
            </div>
            <div class="col-75">
                <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
        </div>
 
        
        

        
        <div class="row">
            <input type="submit" value="ADD Product">
        </div>
    </form>
</div>