<body>


    <!-- <form id="msform"> -->
      <form id="msform" (ngSubmit)="save()" #f="ngForm" >
      <!-- progressbar -->
      
      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">Add the Categories</h2>
        <h3 class="fs-subtitle">This is step 2</h3>
        <label>Sub-Category Name</label>
        <input type="text" name="name" placeholder="category-name" />
        <label>Description</label>
        <input type="textarea" name="desc" placeholder="description" />
        <!-- <input type="button" name="next" class="next action-button" href="item" value="Next" /> -->
        <button type="submit" class="btn btn-primary btn-block" (click)="ngSubmit" > Add  </button>
      </fieldset>
      
      
    </form>
    
    </body>
    
